<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="路径分隔符" value=""/>-->
    <add key="替换关键字分隔符" value="=="/>
    <add key="支持的文件扩展" value="*.xls;*.xlsx;*.doc;*.docx;*.txt;*.cs"/>
    <add key="关键字保存文本路径" value="keywords.txt"/>
    <add key="生成文件保存目录" value="result"/>
  </appSettings>
</configuration>